<div class="complete">
    <div class="complete-container container">
        <div class="complete-signup">
            <h1>Complete your signup</h1>
            <form action="" class="signup-cmp-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your name" required>
                    <sub>Use your real first and last name</sub>
                </div>

                <div class="form-group">
                    <label for="prof-desc">Professional Description</label>
                    <input type="text" name="prof-desc" id="prof-desc"
                        placeholder="e.g Software Engineer, Mememaster, Pokemaster" required>
                    <sub>Short an specific text about what you do</sub>
                </div>

                <div class="form-group">
                    <label for="work-xp">Work experience</label>
                    <textarea name="work-xp" id="work-xp" cols="30" rows="10"
                        placeholder="Worked 6 years in a bitcoin farm until I decided to change my life..."></textarea>
                    <sub>Tell us about your work experience, what did you do before joining this top community?</sub>
                </div>
                <div class="form-group">
                    <label for="joke">Tell us Joke</label>
                    <textarea name="joke" id="joke" cols="30" rows="10" placeholder="Q: Why do chemists enjoy working with ammonia?
                    A: Because it's pretty basic stuff."></textarea>
                    <sub>Tell us about your work experience, what did you do before joining this top community?</sub>
                </div>
                <div class="form-group">
                    <label for="work-type">Work type preferences</label>
                    <div class="radio-group">
                        <label for="full-time" class="radio-opt">
                            <input type="radio" name="work-type" id="full-time">
                            Full-time
                        </label>
                        <label for="part-time" class="radio-opt">
                            <input type="radio" name="work-type" id="part-time">
                            Part-time
                        </label>
                        <label for="contract" class="radio-opt">
                            <input type="radio" name="work-type" id="contract">
                            Contract
                        </label>
                        <label for="for-free" class="radio-opt">
                            <input type="radio" name="work-type" id="for-free">
                            For free
                        </label>
                    </div>
                    <div class="check-group">
                        <label for="jokesletter">
                            <input type="checkbox" name="preferences" id="jokesletter">
                            I wish to receive regular dad jokes in my email
                        </label>
                        <label for="freedata">
                            <input type="checkbox" name="preferences" id="freedata">
                            I wish that you sell my data and give me nothing in exchange
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input class="button" type="submit" value="Create Account">
                </div>
            </form>
        </div>
    </div>
</div>