<section class="faq">
  <div class="faq-container">
    <h1>FAQs</h1>
    <h2>Do you sell my data?</h2>
    <p>
      We cannot give you an answer about that. Nonetheless, what we can tell you
      is that, if we were selling your data, we wouldn’t tell you.
    </p>
    <h2>Do you sell my data?</h2>
    <p>
      We cannot give you an answer about that. Nonetheless, what we can tell you
      is that, if we were selling your data, we wouldn’t tell you.
    </p>
    <h2>Do you sell my data?</h2>
    <p>
      We cannot give you an answer about that. Nonetheless, what we can tell you
      is that, if we were selling your data, we wouldn’t tell you.
    </p>
    <h2>Do you sell my data?</h2>
    <p>
      We cannot give you an answer about that. Nonetheless, what we can tell you
      is that, if we were selling your data, we wouldn’t tell you.
    </p>
    <h2>Do you sell my data?</h2>
    <p>
      We cannot give you an answer about that. Nonetheless, what we can tell you
      is that, if we were selling your data, we wouldn’t tell you.
    </p>
    <h2>Do you sell my data?</h2>
    <p>
      We cannot give you an answer about that. Nonetheless, what we can tell you
      is that, if we were selling your data, we wouldn’t tell you.
    </p>
    <h2>Do you sell my data?</h2>
    <p>
      We cannot give you an answer about that. Nonetheless, what we can tell you
      is that, if we were selling your data, we wouldn’t tell you.
    </p>
    <h2>Do you sell my data?</h2>
    <p>
      We cannot give you an answer about that. Nonetheless, what we can tell you
      is that, if we were selling your data, we wouldn’t tell you.
    </p>
    <h2>Do you sell my data?</h2>
    <p>
      We cannot give you an answer about that. Nonetheless, what we can tell you
      is that, if we were selling your data, we wouldn’t tell you.
    </p>
    <h2>Do you sell my data?</h2>
    <p>
      We cannot give you an answer about that. Nonetheless, what we can tell you
      is that, if we were selling your data, we wouldn’t tell you.
    </p>
  </div>
</section>
