<div class="signup">
    <h1>Sign up</h1>
    <form action="" class="signup-form">
        <div class="form-group">
            <label for="signup-email">Email</label>
            <input class="form-input" type="email" id="signup-email" name="email" placeholder="your@email.com">
        </div>

        <div class="form-group">
            <label for="signup-pwd">Password</label>
            <input class="form-input" type="password" id="signup-pwd" name="password" placeholder="********">
        </div>

        <div class="form-group">
            <input class="button" type="submit" value="Submit">
        </div>

        <div class="form-group form-link">
            <a href="/login">Sig in</a>
        </div>
    </form>
</div>