 <div class="pwd">
    <h1>Forgot password</h1>
    <form action="" class="pwd-form">
        <div class="form-group">
            <label for="pwd-email">Email</label>
            <input class="form-input" type="email" id="pwd-email" name="email" placeholder="your@email.com" required>
        </div>

        <div class="form-group">
            <a class="button form-link" href="recovery-success">Submit</a>
        </div>
    </form>
</div>