<%= erb :"../components/job_list_filter" %>
<div class="container job-listing-section">
    <% (0..7).each { |i| %>
        <%= erb :"../components/job_item_2" %>
    <% } %>
  <div class="text-center container-button">
    <a class="button" href="">load more</a>
  </div>
</div>