/* hero styles */

.bg-hero {
  background: #f7fafc;
}
.hero {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Nunito", sans-serif;
  text-align: center;
}
.hero-image {
  justify-self: center;
}
.hero-image img {
  width: 100%;
}
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  padding-top: 50px;
}
.description {
  font-size: 15px;
  margin: 20px 0;
  line-height: 23px;
}
.button {
  background: #3c2dff;
  border: 2px solid #3c2dff;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  display: inline-block;
  height: 38px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.button:hover {
  background-color: #fff;
  color: #3c2dff;
}
/* job-list-descrition */
.bg-job-list {
  background-color: #3c2dff;
  color: #fff;
  padding: 30px 0;
}
.job-list {
  display: grid;
  grid-template-columns: 1fr;
}
.subtitle {
  font-size: 26px;
  line-height: 39px;
  font-weight: bold;
}
.job-positions {
  display: grid;
  grid-template-rows: repeat(3, 82px);
  row-gap: 1em;
  width: 100%;
  justify-self: end;
}
.job-description {
  text-align: center;
}
.card-position {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.card-description,
.card-options {
  display: flex;
}
.card-logo {
  margin-right: 10px;
  align-self: center;
  line-height: 42px;
}
.card-logo img {
  vertical-align: middle;
}

.card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-job {
  font-size: 17px;
  line-height: 15px;
}

.card-job a {
  color: #4a5568;
  text-decoration: none;
}

.card-actions {
  display: flex;
  align-items: center;
}

.card-address {
  color: #000000;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  /* display: flex; */
  /* margin-right: 17px; */
}

.card-address img {
  margin-left: 10px;
  vertical-align: middle;
}

.card-dollar {
  margin-right: 5px;
}

.card-tecno {
  background: rgba(60, 45, 255, 0.69);
  padding: 2px 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}

.card-date {
  color: #718096;
  font-size: 14px;
  line-height: 19px;
}

/* jobs-listing */

.job-listing-section {
  display: grid;
  row-gap: 1em;
}

.job-listing-section .card-position {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  padding: 15px;
}

.job-listing-section .card-position:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.06);
}

.container-tecno {
  display: flex;
  flex-direction: column;
}

.container-tecno .card-tecno:first-child {
  margin-top: 0;
}

.container-tecno .card-tecno {
  margin-top: 5px;
}

.card-new {
  background-color: #ff0d0d;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  padding: 1px 3px;
}

.container-button {
  margin: 20px 0;
}

/* job_filter_list */

.filters {
  margin: 20px 0;
}

.filters,
.common-filters {
  display: grid;
  row-gap: 1em;
}

.common-filters {
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.search {
  grid-column: 1 / 3;
}

.filters input,
.filters li,
.country-header {
  font-family: "Nunito", sans-serif;
  border: 0;
  background-color: #fff;
  font-size: 13px;
  color: #4a5568;
}

.filters li {
  cursor: pointer;
}

.common-filters > div {
  border-radius: 4px;
  height: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.search,
.country,
.type,
.salary,
.more {
  padding: 10px 0;
  text-align: right;
}

.country {
  display: flex;
  flex-direction: column;
}

.recommended {
  text-align: right;
  /* padding: 10px 8px; */
}

.search {
  text-align: left;
  position: relative;
}

.search img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.search > * {
  vertical-align: middle;
}

.search .search-input {
  padding: 2px;
  min-width: 90%;
  outline: none;
  padding-left: 30px;
}

.country,
.type,
.salary,
.more,
.recommended {
  position: relative;
}

.country-header {
  position: relative;
  cursor: pointer;
  list-style: none;
}

.country-list {
  display: none;
  margin-top: 16px;
  padding-left: 0;
  list-style: none;
  text-align: left;
  position: absolute;
  z-index: 2;
  background: #fff;
  width: 100%;
}

.country-item-header {
  position: relative;
  text-align: left;
  transition: display 0.1s ease-in;
}

.country-item-header::before {
  content: "";
  background: transparent;
  position: absolute;
  bottom: -16px;
  display: block;
  width: 100%;
  height: 16px;
  z-index: 0;
}

.country-item-header::before:hover .country-list {
  display: block;
}

.country-item-header:hover .arrow-down-select {
  animation: arrowRotate 0.2s ease-in;
  transform: translateY(-50%) rotate(180deg);
}

.country-item-header:hover .country-list {
  display: block;
  animation: listdown 0.2s ease-in;
}

.country-list {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0 15px;
}

.country-list li {
  padding: 5px 0;
}

@keyframes listdown {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.country-list li:hover {
  font-weight: bold;
}

.country-container-title {
  display: flex;
  position: relative;
  padding: 0 15px;
  justify-content: space-between;
}

.country-container-title a {
  text-decoration: none;
  color: #4a5568;
  padding-right: 10px;
}

.arrow-down-select {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@keyframes arrowRotate {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(180deg);
  }
}

@media (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .hero-image {
    justify-self: end;
  }

  .hero-image img {
    width: 100%;
  }

  .title {
    font-size: 46px;
    line-height: 43px;
    padding-top: 50px;
  }

  .description {
    font-size: 20px;
    line-height: 27px;
  }

  /* job_title_descr */

  .bg-job-list {
    padding: 60px 0;
  }

  .job-list {
    grid-template-columns: 45% 55%;
  }

  .job-positions {
    align-self: center;
  }

  .job-description {
    width: 95%;
    text-align: left;
  }

  .subtitle {
    font-size: 36px;
    line-height: 49px;
    font-weight: bold;
  }

  /* job list */

  .container-tecno {
    flex-direction: row;
  }

  .container-tecno .card-tecno {
    margin-top: 0;
  }

  /* filters_jobs */

  .common-filters {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .filters,
  .common-filters {
    display: flex;
    /* align-items: center; */
  }

  .filters {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .filters select {
    min-width: auto;
  }
}

@media (min-width: 992px) {
  .title {
    padding-top: 100px;
    line-height: 43px;
  }

  /* job */
  .card-position {
    padding: 0 20px;
  }
  .card-job {
    font-size: 20px;
    line-height: 27px;
  }

  .card-job a {
    transition: color 0.1s ease;
  }

  .card-job a:hover {
    color: #3c2dff;
  }

  .card-logo {
    margin-right: 15px;
  }

  .card-dollar {
    margin-right: 17px;
  }

  .card-tecno {
    margin-right: 25px;
  }

  /* job_list_filter */

  .filters {
    flex-wrap: nowrap;
  }

  .common-filters {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .common-filters > div {
    margin-right: 10px;
  }

  .search {
    min-width: 283px;
  }
}

@media (min-width: 1200px) {
  .job-list {
    grid-template-columns: 1fr 1fr;
  }

  /* job-list-filter */

  .country-container-title a {
    padding-right: 40px;
  }

  .filters select {
    min-width: 100px;
  }
}
