/*Testimonials*/

.testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.testimonials-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 88px;
  background-color: #ffffff;
}
.testimonials-arrow_right {
  margin-top: 70px;
}
.testimonials-arrow_left {
  margin-top: 70px;

  transform: rotate(180deg);
}
.testimonials-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 905px;
  padding-left: 40px;
  padding-right: 40px;
}
.testimonials-text h2 {
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #000000;
}
.testimonials-text h5 {
  font-family: Overpass;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}
.testimonials-text h6 {
  font-family: Overpass;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  testimonials .testimonials-text h2 {
    font-size: 25px;
  }
  .testimonials-arrow_right {
    margin-top: 70px;
    margin-right: 0px;
  }
  .testimonials-arrow_left {
    margin-top: 70px;
    margin-left: 0px;
    transform: rotate(180deg);
  }
  .testimonials-text {
    padding: 0;
  }
  .testimonials {
    padding: 20px;
  }
}

/*Get in touch*/
.get_in_touch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #f7fafc;
  padding: 100px;
}

.get_in_touch-contacts {
  display: flex;
  justify-content: space-between;
  width: 1021px;
  height: 381px;
}
.get_in_touch-contacts-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: max-content;
}
.get_in_touch-contacts-text h2 {
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 1.08333px;
  text-transform: uppercase;
  color: #999999;
}
.get_in_touch-contacts-text h1 {
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -1.5px;
  color: #000000;
}
.get_in_touch-contacts-text h3 {
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.get_in_touch-contacts-text-email_dir h6 {
  font-family: Overpass;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.get_in_touch-contacts-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  width: 495.27px;
}

.get_in_touch-contacts-form-input {
  background: #ffffff;
  border: 1px solid #c9ccd4;
  box-sizing: border-box;
  border-radius: 6px;
  height: 60px;
  width: 100%;
  padding-left: 20px;
  font-family: Overpass;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7a7a7a;
}

#get_in_touch-contacts-form-message {
  width: 100%;
  height: 150px;
  background: #ffffff;
  border: 1px solid #c9ccd4;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 20px;
  padding-top: 15px;
  font-family: Overpass;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7a7a7a;
}
.get_in_touch-contacts-form-submit {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
  background: black;
  border-radius: 6px;
  border-color: black;
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 197.04px;
  height: 60px;
}

.get_in_touch-contacts-form-submit .fa-envelope {
  font-size: 17px;
  margin-top: -5px;
}

.get_in_touch-contacts-form-submit:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/*transition*/
@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .get_in_touch-contacts-form {
    padding: 0;
    width: 400px;
    padding-left: 10px;
  }
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  .get_in_touch-contacts {
    flex-direction: column;
    align-items: center;
  }
  .get_in_touch-contacts-form {
    padding: 0;
    width: 290px;
  }
  .get_in_touch-contacts-form-input {
    height: 40px;
    margin-top: 5px;
  }
  #get_in_touch-contacts-form-message {
    height: 90px;
    margin-top: 5px;
  }
  .get_in_touch-contacts-form-submit {
    height: 30px;
    width: 150px;
    margin-top: 5px;
    padding: 0;
  }
  .get_in_touch-contacts-text-email_dir {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .get_in_touch-contacts-text-email_dir h6 {
    margin: 0;
  }
}

/*Job Detail Description*/
.job_detail {
  background-color: #f7fafc;
  padding: 30px;
}
.job_detail-container {
  display: flex;
  margin: auto;
  max-width: 1023px;
  padding-top: 34px;
  padding-bottom: 34px;
  justify-content: space-between;
}
.job_detail-text {
  max-width: 650px;
}
.job_detail-text-return {
  display: flex;
  align-items: center;
  text-decoration-line: none;
}
.job_detail-text-return .fa-arrow-left {
  color: #3c2dff;
}
.job_detail-text-return h4 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3c2dff;
  margin-left: 11px;
}

.job_detail-text-tags a {
  text-decoration-line: none;
  background: #3c2dff;
  border: 1px solid #3c2dff;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}
.job_detail-text li {
  margin-left: 16px;
}
.job_detail-text h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.job_detail-text h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}
.job_detail-text h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 12px;
  margin-top: 21px;
}

.job_detail-text p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.job_detail-text-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.get_this-button {
  background: #3c2dff;
  color: #ffffff;
  text-decoration-line: none;
  height: 40px;
  width: 186px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.job_detail-text-bottom-social {
  display: flex;
  align-self: center;
}
.job_detail-text-bottom-social p {
  margin-right: 4.75px;
}
.job_detail-text-bottom-social-logos {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.job_detail-text-bottom-social-logos i {
  margin-left: 9.25px;
  color: #262626;
}

/*Company info card*/

.company_info_card {
  height: 385px;
  width: 250px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.company_info_card-text {
  width: 140px;
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 41px;
}
.company_info_card-text img {
  width: 50px;
  height: 50px;
}
.company_info_card-text h5 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #000000;
}
.company_info_card-text h6 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.company_info_card-text i {
  margin-right: 6.25px;
}
.company_info_card-text h5 {
  margin: 12px;
}
#company_info_card-text-sub {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration-line: underline;
}

.company_info_card-separator {
  margin-top: 16px;
  width: 186px;
  height: 1px;
  border: none;
  background-color: black;
}
.company_info_card-all_jobs {
  margin-top: 16px;
}
.company_info_card-all_jobs a {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  text-decoration-line: none;
}
.company_info_card-all_jobs i {
  margin-left: 10.63px;
}

/*FAQ*/
.faq {
  background-color: #f7fafc;
  display: flex;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 30px;
  padding-right: 30px;
}
.faq-container {
  margin: auto;
  max-width: 1024px;
  padding-right: 168px;
}
.faq h1 {
  font-family: Nunito;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #262626;
}
.faq h2 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #262626;
  margin-top: 20px;
}
.faq p {
  font-family: Nunito;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 8px;
}
