.regular-nav {
  display: none;
}

.list-menu-header {
  display: none;
}

@media (min-width: 992px) {

  .responsive-nav {
    visibility: hidden !important;
  }

  .regular-nav {
    display: block;
  }
  
  .list-menu-header {
    display: flex;
  }
  .menu-link-p {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin: 0 18px;
  }

  .menu-link-p:last-child {
    margin-right: 0;
  }

  .sign-in-p,
  .sign-up-p {
    font-size: 13px;
    border-radius: 4px;
    padding: 2px 10px;
    transition: all 0.3s ease;
  }

  .sign-in-p {
    border: 2px solid #000;
  }

  .sign-in-p:hover {
    background-color: #000;
    color: #fff;
  }

  .sign-up-p {
    border: 2px solid #3c2dff;
    color: #3c2dff;
  }
  .sign-up-p:hover {
    background-color: #3c2dff;
    color: #fff;
  }
  
}
