@import url("https://fonts.googleapis.com/css?family=Nunito|Overpass&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.color {
  color: blue;
}

.text-center {
  text-align: center;
}

.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 85%;
  }
}
