<div class="company_info_card">
  <div class="company_info_card-text">
    <img src="img/A.png" alt="" />
    <h5>Able.co</h5>
    <h6><i class="fas fa-map-marker-alt"></i>Lima, Peru</h6>
    <a id="company_info_card-text-sub" href="">
      <i class="fas fa-external-link-alt"></i>Open Websites
    </a>
    <h6>Posted 10 Jobs</h6>
  </div>
  <a href="" class="get_this-button">Get This Job </a>
  <div class="company_info_card-separator"></div>
  <div class="company_info_card-all_jobs">
    <a href="">View All Jobs<i class="far fa-caret-square-right"></i></a>
  </div>
</div>
