<footer class="container">
    <div class="footer-content">
        <ul class="footer-list">
        <span class="footer-title">Jobs</span>
            <li class="footer-item"><a href="#">Software Engineer</a></li>
            <li class="footer-item"><a href="#">Frontend Engineer</a></li>
            <li class="footer-item"><a href="#">Codeable Graduate</a></li>
            <li class="footer-item"><a href="#">Backend Engineer</a></li>
            <li class="footer-item"><a href="#">Meme Master</a></li>
            <li class="footer-item footer-highlighted"><a href="#">University Dropouts</a></li>
        </ul>
        <ul class="footer-list">
        <span class="footer-title">Company</span>
            <li class="footer-item"><a href="#">Blog</a></li>
            <li class="footer-item"><a href="#">Careers</a></li>
            <li class="footer-item"><a href="#">Privacy</a></li>
            <li class="footer-item footer-highlighted"><a href="#">About</a></li>
        </ul>
        <ul class="footer-list">
        <span class="footer-title">Support</span>
            <li class="footer-item"><a href="#">Documentation</a></li>
            <li class="footer-item"><a href="#">Security</a></li>
            <li class="footer-item"><a href="#">Mobility Guide</a></li>
            <li class="footer-item footer-highlighted"><a href="/faq">FAQs</a></li>
        </ul>
        <ul class="footer-list">
        <span class="footer-title">Legal</span>
            <li class="footer-item"><a href="#">Terms of service</a></li>
            <li class="footer-item"><a href="#">Privacy Policy</a></li>
            <li class="footer-item"><a href="#">Cookie information</a></li>
            <li class="footer-item footer-highlighted"><a href="#">GDPR Commitment</a></li>
        </ul>
    </div>
    <div class="footer-copy container">
        <p>©2020 Get That Job</p>
    </div>
</footer>