<section class="get_in_touch">
  <div class="get_in_touch-contacts">
    <div class="get_in_touch-contacts-text">
      <div>
        <h2>CONTACTS</h2>
        <h1>Get in Touch</h1>
        <h3>If you are not sure yet, shoot us a message!</h3>
      </div>
      <div class="get_in_touch-contacts-text-email_dir">
        <h6>hello@getthatjob.com</h6>        
        <h6>Jose Galvez 692, 7th Floor. The Board</h6>
      </div>
    </div>
    <form action="" method="get" class="get_in_touch-contacts-form">
      <input
        type="email"
        name="email"
        class="get_in_touch-contacts-form-input"
        placeholder="Your email"
      />
      <input
        type="text"
        name="name"
        class="get_in_touch-contacts-form-input"
        placeholder="Name"
      />
      <textarea
        name="message"
        id="get_in_touch-contacts-form-message"
        placeholder="Messages"        
      ></textarea>      
      <button type="submit" class="get_in_touch-contacts-form-submit"><i class="fas fa-envelope"></i>Submit Message</button>
</form>
    </form>
  </div>
</section>
