<header class="">
  <div class="nav-container container">
    <div class="nav-brand">
      <a href="/">
        <img src="/img/Logo.png" alt="" class="nav-logo" />
      </a>
    </div>
    <button class="button" id="menu">Menu</button>
    <nav class="">
      <ul class="list-style-none flex w-100 list-menu-header">
        <li>
          <a href="#" class="menu-link-p text-decoration-none">Help</a>
        </li>
        <li>
          <a href="#" class="menu-link-p text-decoration-none">Companies</a>
        </li>
        <li>
          <a href="/jobs" class="menu-link-p text-decoration-none">Jobs</a>
        </li>
        <li>
          <a
            href="/login"
            class="menu-link-p sign-in-p text-decoration-none uppercase"
            >sig in</a
          >
        </li>
        <li>
          <a
            href="/register"
            class="menu-link-p sign-up-p text-decoration-none uppercase"
            >create an account</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <!-- <nav class="responsive-nav nav">
    <span id="close-menu">&times;</span>
    <a href="#" class="nav-link">Help</a>
    <a href="#" class="nav-link">Companies</a>
    <a href="/jobs" class="nav-link">Jobs</a>
    <a href="/login" class="signin-link nav-link">sig in</a>
    <a href="/register" class="signup-link nav-link">create an account</a>
    <a href="/login" class="signin-link nav-link">sig in</a>
  </nav> -->
</header>
