<section class="bg-hero">
  <div class="container hero">
    <div class="hero-description">
      <h1 class="title">
        The place where you get that job
      </h1>
      <p class="description">
        With our Machine learning algorithm you will get that job in no time, We
        promise you! Just give us the money and we will take care of it.
      </p>
      <a class="button" href="">Create your account now</a>
    </div>
    <div class="hero-image">
      <img src="img/hero.png" alt="GetThatJob" />
    </div>
  </div>
</section>
