 <article class="card-position">
        <div class="card-description">
          <div class="card-logo"><img src="img/able.png" alt="Able" /></div>
          <div class="card-title">
            <h3 class="card-job"><a href="/jobs">Software Engineer</a></h3>
            <span class="card-address"
              >Able - Lima <img src="img/peru.png" alt="" />
            </span>
          </div>
        </div>
        <div class="card-actions">
          <img class="card-dollar" src="img/dollar.png" alt="" />
          <span class="card-tecno">ReactJS</span>
          <span class="card-date">Today</span>
        </div>
      </article>