<div class="container job-listing-section">
  <article class="card-position">
    <div class="card-description">
      <div class="card-logo"><img src="img/able.png" alt="Able" /></div>
      <div class="card-title">
        <h3 class="card-job">
          <a href="">Software Engineer</a>
          <small class="card-new">new</small>
        </h3>
        <span class="card-address"
          >Able - Lima <img src="img/peru.png" alt="" />
        </span>
      </div>
    </div>
    <div class="card-actions">
      <img class="card-dollar" src="img/dollar.png" alt="" />
      <div class="container-tecno">
        <span class="card-tecno">ReactJS</span>
        <span class="card-tecno">ReactJS</span>
      </div>
      <span class="card-date">Today</span>
    </div>
  </article>
  <article class="card-position">
    <div class="card-description">
      <div class="card-logo"><img src="img/able.png" alt="Able" /></div>
      <div class="card-title">
        <h3 class="card-job">
          <a href="">Software Engineer</a>
          <small class="card-new">new</small>
        </h3>
        <span class="card-address"
          >Able - Lima <img src="img/peru.png" alt="" />
        </span>
      </div>
    </div>
    <div class="card-actions">
      <img class="card-dollar" src="img/dollar.png" alt="" />
      <div class="container-tecno">
        <span class="card-tecno">ReactJS</span>
        <span class="card-tecno">ReactJS</span>
      </div>
      <span class="card-date">Today</span>
    </div>
  </article>
  <article class="card-position">
    <div class="card-description">
      <div class="card-logo"><img src="img/able.png" alt="Able" /></div>
      <div class="card-title">
        <h3 class="card-job">
          <a href="">Software Engineer</a>
          <small class="card-new">new</small>
        </h3>
        <span class="card-address"
          >Able - Lima <img src="img/peru.png" alt="" />
        </span>
      </div>
    </div>
    <div class="card-actions">
      <img class="card-dollar" src="img/dollar.png" alt="" />
      <div class="container-tecno">
        <span class="card-tecno">ReactJS</span>
        <span class="card-tecno">ReactJS</span>
      </div>
      <span class="card-date">Today</span>
    </div>
  </article>
  <article class="card-position">
    <div class="card-description">
      <div class="card-logo"><img src="img/able.png" alt="Able" /></div>
      <div class="card-title">
        <h3 class="card-job">
          <a href="">Software Engineer</a>
          <small class="card-new">new</small>
        </h3>
        <span class="card-address"
          >Able - Lima <img src="img/peru.png" alt="" />
        </span>
      </div>
    </div>
    <div class="card-actions">
      <img class="card-dollar" src="img/dollar.png" alt="" />
      <div class="container-tecno">
        <span class="card-tecno">ReactJS</span>
        <span class="card-tecno">ReactJS</span>
      </div>
      <span class="card-date">Today</span>
    </div>
  </article>
  <article class="card-position">
    <div class="card-description">
      <div class="card-logo"><img src="img/able.png" alt="Able" /></div>
      <div class="card-title">
        <h3 class="card-job">
          <a href="">Software Engineer</a>
          <small class="card-new">new</small>
        </h3>
        <span class="card-address"
          >Able - Lima <img src="img/peru.png" alt="" />
        </span>
      </div>
    </div>
    <div class="card-actions">
      <img class="card-dollar" src="img/dollar.png" alt="" />
      <div class="container-tecno">
        <span class="card-tecno">ReactJS</span>
        <span class="card-tecno">ReactJS</span>
      </div>
      <span class="card-date">Today</span>
    </div>
  </article>
  <article class="card-position">
    <div class="card-description">
      <div class="card-logo"><img src="img/able.png" alt="Able" /></div>
      <div class="card-title">
        <h3 class="card-job">
          <a href="">Software Engineer</a>
          <small class="card-new">new</small>
        </h3>
        <span class="card-address"
          >Able - Lima <img src="img/peru.png" alt="" />
        </span>
      </div>
    </div>
    <div class="card-actions">
      <img class="card-dollar" src="img/dollar.png" alt="" />
      <div class="container-tecno">
        <span class="card-tecno">ReactJS</span>
        <span class="card-tecno">ReactJS</span>
      </div>
      <span class="card-date">Today</span>
    </div>
  </article>
  <article class="card-position">
    <div class="card-description">
      <div class="card-logo"><img src="img/able.png" alt="Able" /></div>
      <div class="card-title">
        <h3 class="card-job">
          <a href="">Software Engineer</a>
          <small class="card-new">new</small>
        </h3>
        <span class="card-address"
          >Able - Lima <img src="img/peru.png" alt="" />
        </span>
      </div>
    </div>
    <div class="card-actions">
      <img class="card-dollar" src="img/dollar.png" alt="" />
      <div class="container-tecno">
        <span class="card-tecno">ReactJS</span>
        <span class="card-tecno">ReactJS</span>
      </div>
      <span class="card-date">Today</span>
    </div>
  </article>
  <article class="card-position">
    <div class="card-description">
      <div class="card-logo"><img src="img/able.png" alt="Able" /></div>
      <div class="card-title">
        <h3 class="card-job">
          <a href="">Software Engineer</a>
          <small class="card-new">new</small>
        </h3>
        <span class="card-address"
          >Able - Lima <img src="img/peru.png" alt="" />
        </span>
      </div>
    </div>
    <div class="card-actions">
      <img class="card-dollar" src="img/dollar.png" alt="" />
      <div class="container-tecno">
        <span class="card-tecno">ReactJS</span>
        <span class="card-tecno">ReactJS</span>
      </div>
      <span class="card-date">Today</span>
    </div>
  </article>
  <div class="text-center container-button">
    <a class="button" href="">load more</a>
  </div>
</div>
