<div class="container">
  <h2 class="subtitle">
    Jobs For you
  </h2>
  <div class="filters">
    <div class="common-filters">
      <div class="search">
        <img class="arrow-down-select" src="img/search.svg" alt="" />
        <input
          class="search-input"
          type="search"
          placeholder="Find that job!"
        />
      </div>
      <div class="country">
        <ul class="country-header">
          <li class="country-item-header">
            <div class="country-container-title">
              <a href="">Country</a>
              <img class="arrow-down-select" src="img/arrow_down.jpg" alt="" />
              <img class="arrow-up-select" src="img/arrow_up.jpg" alt="" />
            </div>
            <ul class="country-list">
              <li>Perú</li>
              <li>Colombia</li>
              <li>Arequipa</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="type">
        <ul class="country-header">
          <li class="country-item-header">
            <div class="country-container-title">
              <a href="">Type</a>
              <img class="arrow-down-select" src="img/arrow_down.jpg" alt="" />
              <img class="arrow-up-select" src="img/arrow_up.jpg" alt="" />
            </div>
            <ul class="country-list">
              <li>Full-Time</li>
              <li>Part-Time</li>
              <li>Contract</li>
              <li>For Free</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="salary">
        <ul class="country-header">
          <li class="country-item-header">
            <div class="country-container-title">
              <a href="">Salary Range</a>
              <img class="arrow-down-select" src="img/arrow_down.jpg" alt="" />
              <img class="arrow-up-select" src="img/arrow_up.jpg" alt="" />
            </div>
            <ul class="country-list">
              <li>0 - $750</li>
              <li>$750 - $2000</li>
              <li>$2000 - more</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="more">
        <ul class="country-header">
          <li class="country-item-header">
            <div class="country-container-title">
              <a href="">Experience</a>
              <img class="arrow-down-select" src="img/arrow_down.jpg" alt="" />
              <img class="arrow-up-select" src="img/arrow_up.jpg" alt="" />
            </div>
            <ul class="country-list">
              <li>No experience</li>
              <li>Junior</li>
              <li>Semi Senior</li>
              <li>Codeable</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="recommended">
      <ul class="country-header">
        <li class="country-item-header">
          <div class="country-container-title">
            <a href="">Recommended</a>
            <img class="arrow-down-select" src="img/arrow_down.jpg" alt="" />
            <img class="arrow-up-select" src="img/arrow_up.jpg" alt="" />
          </div>
          <ul class="country-list">
            <li>Newset</li>
            <li>Highest Salary</li>
            <li>Semi Senior</li>
            <li>Lowest Salary</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
