<div class="container">
  <h2 class="subtitle">
    Jobs For you
  </h2>
  <div class="filters">
    <div class="common-filters">
      <div class="search">
        <img class="arrow-down-select" src="img/search.svg" alt="" />
        <input
          class="search-input"
          type="search"
          placeholder="Find that job!"
        />
      </div>
      <div class="country">
        <select name="country" id="country">
          <option value="Country">Country</option>
        </select>
        <img class="arrow-down-select" src="img/arrow_down.jpg" alt="" />
      </div>
      <div class="type">
        <select name="type" id="type">
          <option value="type">Type</option>
        </select>
        <img class="arrow-down-select" src="img/arrow_down.jpg" alt="" />
      </div>
      <div class="salary">
        <select name="salary" id="salary">
          <option value="salary">Salary Range</option>
        </select>
        <img class="arrow-down-select" src="img/arrow_down.jpg" alt="" />
      </div>
      <div class="more">
        <select name="more" id="more">
          <option value="more">More</option>
        </select>
        <img class="arrow-down-select" src="img/arrow_down.jpg" alt="" />
      </div>
    </div>
    <div class="recommended">
      <select name="recommended" id="recommended">
        <option value="recommended">Recommended</option>
      </select>
      <img class="arrow-down-select" src="img/arrow_down.jpg" alt="" />
    </div>
  </div>
</div>
