<section class="testimonials">
  <a href="" class="testimonials-arrow_left"><img src="img/arrow.png" alt="" /></a>
  <div class="testimonials-container">
    <img src="img/flower_girl.png" alt="flower_girl" /><br />
    <div class="testimonials-text">
      <h2>
        “Amazing experience, I love it a lot. Thanks to the team I got that Job,
        great!”
      </h2>
      <br />
      <h5>Lassy Chester</h5>
      <h6>Art Director</h6>
    </div>
  </div>
  <a href="" class="testimonials-arrow_right"><img src="img/arrow.png" alt="" /></a>
</section>
