<section class="testimonials">
  <img src="img/flower_girl.png" alt="flower_girl" /><br />
  <div class="testimonials-text">
    <h2>
      “Amazing experience, I love it a lot. Thanks to the team I got that Job,
      great!”
    </h2>
    <br />
    <h5>Lassy Chester</h5>
    <h6>Art Director</h6>
  </div>
</section>
